{% if config.ban_block %}
{% include 'checkban.php' %}
{% endif %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
        <script type="text/javascript">
          var active_page = "thread"
	    , board_name = "{{ board.uri }}"
	    , thread_id = "{{ thread.id }}";
	</script>

	{% include 'header.html' %}

	{% set meta_subject %}{% if config.thread_subject_in_title and thread.subject %}{{ thread.subject|e }}{% else %}{{ thread.body_nomarkup[:256]|remove_modifiers|e }}{% endif %}{% endset %}

	<meta name="description" content="{{ board.url }}@nbsp;-@nbsp;{{ board.title|e }} - {{ meta_subject }}" />
	<meta name="twitter:card" value="summary">
	<meta property="og:title" content="{{ meta_subject }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ config.domain }}/{{ board.uri }}/{{ config.dir.res }}{{ thread.id }}.html" />
	{% if thread.files.0.thumb %}<meta property="og:image" content="{{ config.domain }}/{{ board.uri }}/{{ config.dir.thumb }}{{ thread.files.0.thumb }}" />{% endif %}
	<meta property="og:description" content="{{ thread.body|e }}" />

	<title>{{ board.url }}&nbsp;-&nbsp;{{ meta_subject }}</title>
</head>
<body class="8chan vichan {% if mod %}is-moderator{% else %}is-not-moderator{% endif %} active-thread" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
{% if config.nsfw_board %}
	{% include 'nsfw_alert.html' %}
{% endif %}
	<div id="uppercontents">
	<div id="subuppercontents">
	{{ boardlist.top }}
	<a name="top"></a>
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% if config.url_banner_list %}
		<div id="bannerimg" class="head-banner-container" ><noscript><iframe src="https://art.kissu.moe/banner?size=small" width="300" height="140" scrolling="no" style="margin:auto;display:block;border: none;"></iframe></noscript></div>
			<script>
				{% if config.preload_banner %}
					var fetch2 = new XMLHttpRequest();
					fetch2.open("GET", "{{ config.url_banner_list }}");
					fetch2.addEventListener("load", function(){
						let info = JSON.parse(this.responseText)[0];

						window.ban_img = document.createElement("IMG");
						window.ban_img.setAttribute('src', "{{ config.banner_src }}" + info['uri']);
						window.ban_img.setAttribute('style', 'margin:auto;display:block;border: none;;max-width:100%;border:none;');
						window.ban_img.setAttribute('id', "clickerimg");

						if(document.getElementById("bannerimg") != undefined)
							document.getElementById("bannerimg").appendChild(window.ban_img);
					});
					fetch2.send();
				{% endif %}
			</script>
{% endif %}
	<header>
		<h1>{{ board.url }}&nbsp;-&nbsp;{{ board.title|e }}</h1>
		<div class="subtitle">
			{% if board.subtitle %}
				{% if config.allow_subtitle_html %}
					{{ board.subtitle }}
				{% else %}
					{{ board.subtitle|e }}
				{% endif %}
			{% endif %}
			{% if mod %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
		</div>
			{% include 'attention_bar.html' %}
		<div class="banner">{% trans %}Posting mode: Reply{% endtrans %} <a class="unimportant" href="{{ return }}">[{% trans %}Return{% endtrans %}]</a> <a class="unimportant" href="#bottom">[{% trans %}Go to bottom {% endtrans %}]</a></div>

	</header>


<h1>New Reply</h1>

<div id="topcontainer">

	{{ config.ad.top }}

        <div>
        {% if not no_post_form %}
                {% if config.advanced_post_form  %}
                        {% include 'post_form_advanced.html' %}
                {% else %}
                        {% include 'post_form.html' %}
                {% endif %}

        {% endif %}
        </div>

</div>
</div>
{% if config.banner_ads %}
	{% if config.iframe_banner %}
			{% include 'frame-banner.html' %}
	{% elseif config.preload_banner %}
			<div id='banner-container'><noscript>{% include 'frame-banner.html' %}</noscript></div>
			<script>
				{% if config.preload_banner %}
					var fetch = new XMLHttpRequest();
					fetch.open("GET", "{{ config.banner_src }}{{ config.banner_api_route }}");
					fetch.addEventListener("load", function(){
						let info = JSON.parse(this.responseText)[0];

						window.ban_url = document.createElement("A");
						window.ban_url.setAttribute('href', info['url']);
						ban_url.setAttribute('style', 'display:contents');

						let ban_img = document.createElement("IMG");
						ban_img.setAttribute('src', "{{ config.banner_src }}" + info['uri']);
						ban_img.setAttribute('style', 'margin:auto;display:block;border: none;;max-width:100%;border:none;');


						window.ban_url.appendChild(ban_img);
						if(document.getElementById("banner-container") != undefined)
							document.getElementById("banner-container").appendChild(window.ban_url);
					});
					fetch.send();
				{% endif %}
			</script>
			{% endif %}
{% endif %}
</div>
<div id="lowercontents"><hr/>
	{% if config.global_message %}<hr /><div class="blotter">{{ config.global_message }}</div>{% endif %}
		{% if config.js_ui and not mod %}
		<div id="react-ui"></div>
		<script>JS_UI.renderThread("{{ thread.id }}", "{{board.uri}}")</script>
	{% else %}
	<hr />
		<span id="thread-links-top">
		<a id="thread-return-top" href="{{ return }}">[{% trans %}Return{% endtrans %}]</a>
		<a id="thread-bottom" href="#bottom">[{% trans %}Bottom{% endtrans %}]</a>
				{% if config.catalog_link %}
			<a id="thread-catalog-top" href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">[{% trans %}Catalog{% endtrans %}]</a>
				{% endif %}
	</span>
	<br/><hr/>

		<form id="thread_form" name="postcontrols" action="{{ config.post_url }}" method="post" >
		<input type="hidden" name="board" value="{{ board.uri }}" />
		<input type="hidden" name="mod" value="1" />
		{{ body }}

		<div id="thread-interactions">
			<span id="thread-links">
				<a id="thread-return" href="{{ return }}">[{% trans %}Return{% endtrans %}]</a>
				<a id="thread-top" href="#top">[{% trans %}Top{% endtrans %}]</a>
                		{% if config.catalog_link %}
					<a id="thread-catalog" href="{{ config.root }}{{ board.dir }}{{ config.catalog_link }}">[{% trans %}Catalog{% endtrans %}]</a>
		                {% endif %}
			</span>

			<span id="thread-quick-reply">
				<a id="link-quick-reply" href="#">[{% trans %}Post a Reply{% endtrans %}]</a>
			</span>

			{% include 'report_delete.html' %}
		</div>

		<div class="clearfix"></div>
	</form>

	{% endif %}
	<br/>
	<a name="bottom"></a>
	{{ boardlist.bottom }}

	{{ config.ad.bottom }}

	{% include 'footer.template' %}
	<script type="text/javascript">{% raw %}
		ready();
	{% endraw %}</script>
</div>
</body>
</html>
{% if config.ban_block %}
{% include 'checkban.php' %}
{% endif %}
